<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony & table de pythagore{% endblock %}</title>
    </head>
    <body>
    <h1>Bot-Le Goascoz Corentin</h1>
        {% block body %}
       	    <div id="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
